*{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}
body{
    background-color: burlywood;
    color: #214778;
}
main{
    color:rgb(103, 15, 15);
    width: auto;
    margin: auto;
    padding: 15px;
    text-align: justify;
}
footer{
    text-align: center;
    background-color: #214778;
    color:burlywood;
    padding: 10px;
}
h1{
    color:#214778;
    text-align: center;
}